<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ANIMATEUR</title>
        <link rel="stylesheet" href="{{ asset('style.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><img src="https://upload.wikimedia.org/wikipedia/fr/1/11/Panda3D_Logo.png" alt="" class="img_response logo"></li>
                    <li><a href="http://localhost/Symfony/exo_animateurs/public/accueil">Accueil</a></li>
                    <li><a href="http://localhost/Symfony/exo_animateurs/public/article">Article</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>